*.log
/files
/tmp
/qpidd
/qpid-client
/qpid-doc
/libqmf-dev
/libqmf2
/libqpidbroker-dev
/libqpidbroker2
/libqpidclient-dev
/libqpidclient2
/libqpidcommon-dev
/libqpidcommon2
/libqpidmessaging-dev
/libqpidmessaging2
/libqpidtypes-dev
/libqpidtypes1
/librdmawrap-dev
/librdmawrap2

