Source: qpid-cpp
Section: misc
Priority: extra
Maintainer: Mo McRoberts <mo.mcroberts@bbc.co.uk>
Build-Depends: debhelper (>= 8.9.0~), libboost-all-dev (>= 1.35), uuid-dev, libopenais-dev (>= 0.80.3), libsasl2-dev, libxqilla-dev (>= 2.0.0), libxmltooling5, libibverbs-dev, librdmacm-dev, libnspr4-dev, libnss3-dev, libssl-dev, sasl2-bin, libcorosync-dev, libxerces-c-dev (>= 2.7.0), libcman-dev, doxygen, help2man, valgrind [any-i386 any-amd64 arm], zip, procps, libnss3-tools, pkg-config, dpkg-dev (>= 1.16.1~), chrpath, libqpid-proton-dev, cmake, swig, ruby, python-dev, python-qpid
X-Python-Version: 2.7
Standards-Version: 3.9.3
Homepage: http://qpid.apache.org
Vcs-Git: git://github.com/bbcarchdev/deb-qpid-cpp.git
Vcs-Browser: https://github.com/bbcarchdev/deb-qpid-cpp

Package: qpidd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, libsasl2-modules, sasl2-bin
Replaces: qpid-broker
Conflicts: qpid-broker
Description: enterprise messaging system - AMQP broker
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the AMQP broker.

Package: qpid-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: enterprise messaging system - AMQP client
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the AMQP client support.

Package: libqmf2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: libqmf2-1
Description: enterprise messaging system - QMF2 libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the QMF2 libraries.

Package: libqmf-dev
Architecture: any
Section: libdevel
Replaces: libqmf2
Depends: libqmf2 (= ${binary:Version}), ${misc:Depends}
Suggests: qmfgen
Description: enterprise messaging system - QMF2 development files
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the QMF2 development files.

Package: libqpidmessaging2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: enterprise messaging system - AMQP messaging libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the AMQP messaging libraries.

Package: libqpidmessaging-dev
Architecture: any
Section: libdevel
Depends: libqpidmessaging2 (= ${binary:Version}), ${misc:Depends}
Description: enterprise messaging system - AMQP messaging development files
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the AMQP messaging development files.

Package: librdmawrap2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: enterprise messaging system - RDMA libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the AMQP Remote Direct Memory Access libraries.

Package: librdmawrap-dev
Architecture: any
Section: libdevel
Depends: librdmawrap2 (= ${binary:Version}), ${misc:Depends}
Replaces: librdmawrap2-dev
Description: enterprise messaging system - RDMA development files
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the AMQP Remote Direct Memory Access development files.

Package: libqpidtypes1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: enterprise messaging system - API libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the AMQP libraries.

Package: libqpidtypes-dev
Architecture: any
Section: libdevel
Depends: libqpidtypes1 (= ${binary:Version}), ${misc:Depends}
Replaces: libqpidtypes1-dev
Description: enterprise messaging system - API development files
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the AMQP development files.

Package: libqpidcommon2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: enterprise messaging system - common libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the common AMQP libraries.

Package: libqpidcommon-dev
Architecture: any
Section: libdevel
Depends: libqpidcommon2 (= ${binary:Version}), ${misc:Depends}
Replaces: libqpidcommon2-dev
Description: enterprise messaging system - common development files
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the common AMQP development files.

Package: libqpidclient2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: enterprise messaging system - client libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the AMQP client libraries.

Package: libqpidclient-dev
Architecture: any
Section: libdevel
Depends: libqpidclient2 (= ${binary:Version}), ${misc:Depends}
Replaces: libqpidclient2-dev
Description: enterprise messaging system - client development files
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the AMQP client development files.

Package: libqpidbroker2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: enterprise messaging system - broker libraries
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the AMQP broker libraries.

Package: libqpidbroker-dev
Architecture: any
Section: libdevel
Depends: libqpidbroker2 (= ${binary:Version}), ${misc:Depends}
Replaces: libqpidbroker2-dev
Description: enterprise messaging system - broker development files
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the AMQP broker development files.

Package: qpid-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Description: enterprise messaging system - documentation and examples
 Apache Qpid is a cross-platform enterprise messaging system which implements
 the Advanced Message Queuing Protocol (AMQP), providing message brokers
 written in C++ and Java, along with clients for C++, Java JMS, .Net, Python,
 and Ruby.
 .
 This package provides the Apache Qpid documentation.
